@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,300;1,300&display=swap');


header .banner {
    width: 100%;
    height: calc(100vh - 500px);
    background-image: url("img/pilt1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header .pealkiri {
    color: black;
    text-align: center;
    vertical-align: middle;
    padding-top: 50px;
    text-transform: uppercase;
}

header .pealkiri h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 300;
    margin: 0 auto;
}


header .pealkiri h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin: 0 auto;
}

header nav ul {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

header nav ul li {
    display: inline-block;
    padding: 50px 50px;
}

header nav ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: black;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    header .banner {
        height: calc(100vh - 300px);
    }

    header .pealkiri {
        padding-top: 50px;
    }

    header .pealkiri h1 {
        font-size: 30px;
    }

    header .pealkiri h2 {
        font-size: 20px;
    }

    header nav ul li {
        padding: 10px 10px;
    }

    header nav ul li a {
        font-size: 15px;
    }
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin: 0 auto;
}

main .meist {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row; 
    display: -moz-flex;
    -moz-flex-direction: row;
}

@media only screen and (max-width: 768px) {

main .meist {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column; 
    display: -moz-flex;
    -moz-flex-direction: column;
    }
}

/*
main .kokkad-pilt {
    -webkit-flex-basis: 200px;
    -moz-flex-basis: 200px;
    flex-basis: 200px;
    margin: 100px;

    position: relative;
}
*/

main .kokkad-pilt img {
    margin: 100px;
    width: 60%;
}

main .maailmaa-kookid {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap; 
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    
    justify-content: center;
    margin-top: 40px;
}

main .toiupild-ee {
    -webkit-flex-basis: 500px;
    -moz-flex-basis: 500px;
    flex-basis:255px;
    margin: 20px;
    
    position: relative;
    text-align: center;
}

main .toiupild-ee img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0 auto;
}

main .toiupild {
    -webkit-flex-basis: 500px;
    -moz-flex-basis: 500px;
    flex-basis: 300px;
    margin: 20px;
    
    position: relative;
    text-align: center;
}

main .toiupild img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0 auto;
}

main .post-header {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 9px #111;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/** FOOTER **/
footer {
    background-color: black;
    display: flex;
    margin-top: 40px;
}

footer .lehe-alus {
    display: inline-block;
    flex-grow: 1;
}

footer .lehe-alus ul {
    width: fit-content;
    float: left;
    padding-left: 0px;

    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column; 
    display: -moz-flex;
    -moz-flex-direction: column;
}

footer .lehe-alus p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

.meedia{
    width: 32px;
    float: right;
    padding-right: 30px;
    padding-top: 50px;

    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column; 
    display: -moz-flex;
    -moz-flex-direction: column;

}

.meedia img {
    width: 100%;
    margin-bottom: 10px;
}





